.App {
  text-align: left;
}

.App-header {
  background-color: skyblue;
  font-size:xx-large;
}

body {
  background: url('assets/hrms1.jpeg') no-repeat;
  background-size: cover;
  background-color: white;
}

header {
background-color: skyblue;
text-align: center;
font-weight: bold;

}

.App-link {
  color: #61dafb;
}

img{
  width: 100%;
  height: fit-content;
}

nav{
  background-color: skyblue;
}

.link {
  margin: 10px ;
  font-size: x-large;
}

.employee-grid {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.employee-card {
  display: block;
  padding: 2em;
  width: 10em;
  height: 15em;
  background-color: rgb(36, 47, 85);
  border-radius: 0.5em;
  margin: 3em;
  justify-content:flex-start;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.company-grid {
  height: 30px;
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.company-card {
  background: url('assets/colorpencils.jpeg');
  background-size: cover;
  display: block;
  padding: 2em;
  width: 10em;
  height: 3em;
  background-color: lightblue ;
  border-radius: 0.5em;
  margin: 3em;
  justify-content:flex-start;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}
button {
  font-size: large;
  font-weight: bold;
  position: absolute;
  top: 15%;
  background-color: navy;
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding:15px;
  min-height:30px; 
  min-width: 120px;
  margin: 2px;
  cursor: pointer;
}

form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}

#employeeDetailsImage{
  width: 20rem;
  height: 25rem;
}
#employeeDetailsImageContainer{
  display: flex;
  justify-content: center;
}

#companiesBackLink{
  margin: 5em;
  position: absolute;

  top: 5rem;
}

#companyCreateBackLink{
  margin: 5em;
  position: absolute;

  top: 25rem;
}


#createCompanyBtn {
  position: absolute;
  top: 30rem;
  right: 5rem;
  cursor: pointer;
}
#goToNewCompanyBtn{
  position: absolute;
  top: 9rem;
  left: 12rem;
  cursor: pointer;
}

#companyDetailsBackLink{
  margin: 5em;

  position: absolute;
  top: 18rem;
}

#deleteCompanyBtn{
  position: absolute;
  top: 23rem;
  right: 20rem;
  cursor: pointer;
}
#updateCompanyBtn{
  position: absolute;
  top: 23rem;
  right: 3rem;
  cursor: pointer;
}

#goToNewEmployeeBtn{
  position: absolute;
  top: 9rem;
  left: 12rem;
  cursor: pointer;
}

#employeesBackLink{
  margin: 5em;
  position: absolute;

  top: 5rem;
}

#employeeCreateBackLink {
  margin: 5em;
  position: absolute;
  top: 25rem;
}

#createEmployeeBtn{
  position: absolute;
  top: 30rem;
  right: 5rem;
  cursor: pointer;
}

#employeeDetailsBackLink{
  margin: 5em;
  position: absolute;
  top: 20rem;
}

#deleteEmployeeBtn{
  position: absolute;
  top: 23rem;
  right: 23rem;
  cursor: pointer;
}

#updateEmployeeBtn{
  position: absolute;
  top: 23rem;
  right: 5rem;
  cursor: pointer;
}