.App {
  text-align: left;
}

.App-header {
  background-color: skyblue;
  font-size:xx-large;
}

body {
  background: url('assets/hrms1.jpeg') no-repeat;
  background-size: cover;
  background-color: white;
}

header {
background-color: skyblue;
text-align: center;

}

.App-link {
  color: #61dafb;
}

img{
  width: 100%;
  height: fit-content;
}

nav{
  background-color: skyblue;
}

.link {
  margin: 10px ;
  font-size: x-large;
}

.employee-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.employee-card {
  display: block;
  padding: 2em;
  width: 10em;
  height: 15em;
  background-color: rgb(36, 47, 85);
  border-radius: 0.5em;
  margin: 3em;
  justify-content:flex-start;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.company-grid {
  height: 30px;
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

button {
  position: absolute;
  top: 15%;
  background-color:#0a0a23;
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding:15px;
  min-height:30px; 
  min-width: 120px;
  margin: 20px;
}