.App {
  text-align: left;
}

.App-header {
  background-color: skyblue;
  font-size:xx-large;
}

header {
background-color: skyblue;
text-align: center;
}

.App-link {
  color: #61dafb;
}

img{
  width: 100%;
  height: fit-content;
}

nav{
  background-color: skyblue;
}

.link {
  margin: 10px ;
}