.App {
  text-align: left;
}

.App-header {
  background-color: skyblue;
  font-size:xx-large;
}

body {
  /* background: url('assets/hrms1.jpeg'); */
  background-size: cover;
  background-color: white;
}

header {
background-color: skyblue;
text-align: center;
}

.App-link {
  color: #61dafb;
}

img{
  width: 100%;
  height: fit-content;
}

nav{
  background-color: skyblue;
}

.link {
  margin: 10px ;
}

.employee-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.employee-card {
  display: block;
  padding: 2em;
  width: 10em;
  height: 15em;
  background-color: rgb(36, 47, 85);
  border-radius: 0.5em;
  margin: 3em;
  justify-content:flex-start;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.company-grid {
  font-size: x-large;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */

  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30% 30%;
}